.btn {
  background: linear-gradient(90deg, #1e40af, #c026d3, #1e40af);
  background-size: 200% 100%;
  background-position: left center;
  color: white;
  border: none;
  transition: background-position 0.4s ease;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;

  &:hover {
    background-position: right center;
    cursor: pointer;
  }
}
