.sectionWelcome {
  margin: 0 auto;
  position: relative;
  .circle1 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .circle2 {
    position: absolute;
    right: 0;
  }
  .circle3 {
    position: absolute;
    z-index: 1;
    top: 0;
    background: linear-gradient(90deg, #1e40af 0%, #c026d3 50%);
    left: 150px;
  }
  .welcomeItem1 {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: row-reverse;
    .welcomeContent {
      .welcomeBtn {
        padding: 10px 40px;
        border-radius: 6px;
      }
    }
  }
  .welcomeItem2 {
    display: flex;
    align-items: center;
    text-align: right;
    .welcomeContent2 {
      .welcomeBtn {
        padding: 10px 40px;
        border-radius: 6px;
      }
    }
  }
}
