.subscribe {
  padding: 37px 155px;
  border: 1px solid #ffffff12;
  border-radius: 34px;
  box-shadow: 0px 22px 18px 0px #0000000d;
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 22px 18px 0px #0000000d;
  background: linear-gradient(
    180deg,
    rgba(254, 254, 255, 0.0145) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  h1 {
    margin: 0;
  }
  .inputWrapper {
    width: 100%;
    border: 1px solid #ffffff12;
    border-radius: 34px;
    box-shadow: 0px 22px 18px 0px #0000000d;
    backdrop-filter: blur(100px);
    box-shadow: 0px 22px 18px 0px #0000000d;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    background: linear-gradient(
      180deg,
      rgba(254, 254, 255, 0.0145) 0%,
      rgba(255, 255, 255, 0.02) 100%
    );
    position: relative;
    input {
      padding: 25px 44px;
      background: transparent;
      border: none;
      width: 100%;
      outline: none;
    }
    .subscribeBtn {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      padding: 15px 50px;
      border-radius: 999px;
      font-family: DM Sans;
    }
  }
}
