.header {
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  nav {
    display: flex;
    align-items: center;
    gap: 60px;
    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 60px;
      li {
        a {
          text-decoration: none;
          color: #fff;
          cursor: pointer;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            margin-top: 2px;
            right: 0;
            background: #fff;
            transition: width 0.3s ease;
          }
          &:hover::after {
            width: 100%;
            left: 0;
            background: #fff;
          }
        }
      }
    }
    .headerBtn {
      padding: 20px 30px;
      border-radius: 6px;
      font-family: DM Sans;
    }
  }
}
