footer {
  margin-top: 100px;
  padding-bottom: 100px;
  ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    list-style: none;
    gap: 10px;
    padding: 0;
    li {
      a {
        color: #fff;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 2px;
          display: block;
          margin-top: 2px;
          right: 0;
          background: #fff;
          transition: width 0.3s ease;
        }
        &:hover::after {
          width: 100%;
          left: 0;
          color: #fff;
          background: #fff;
        }
      }
    }
  }
  .copyright {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 16px;
    }
    div {
      display: flex;
      gap: 54px;
    }
  }
}
